"*":
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    tabLength: 4
    showInvisibles: true
    fontSize: 11
  core:
    projectHome: "/var/www/html"
  emmet: {}
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  "file-icons":
    coloured: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    ensureSingleTrailingNewline: false
  "tree-view": {}
  tabs:
    usePreviewTabs: true
    tabScrolling: false
  "project-quick-open":
    openProjectsInSameWindow: true
    projectPaths: "/var/www/html"
  docblockr:
    development_mode: true
    extra_tags: [
      "@since ${1:[version]}"
    ]
  linter:
    showErrorPanel: false
  "git-plus": {}
  "atom-trello":
    devKey: "9f21490c2ca6f61050b14b0d216b5a86"
    token: "569f45a7bb31a1cec24c1387c5d9823939d6cc131c422f305b2b9484e4272f7f"
  "grunt-runner": {}
